body {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    overflow-y: hidden;
}

.container {
    height: 4px;
    width: 100%;
    /* border: .5px solid black; */
    background-color: rgb(209, 202, 202);
    /* margin: 40px; */
    /* border-radius: 25px; */
    /* position: relative; */
    /* left: 6%; */
}

.bar {
    height: 100%;
    width: 0%;
    background-color: red;
    /* border-radius: 25px; */
    animation: process-bar 10s infinite;
    /* animation-direction: reverse; */
}

@keyframes process-bar {
    0% {
        width: 0%
    }

    20% {
        width: 50%;
    }

    30% {
        width: 40%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}
img{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;
}